body {
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgba(103, 2, 255, 0.676);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  p {
    color: rgb(94, 40, 133);
    text-align: center;
  }