body {
    background-color: rgb(0, 0, 0);
  }
  
  body {
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fti%2Ffotos-gratis%2Fp3%2F6671766-fantastica-lua-magica-luz-e-agua-barco-com-arvore-papel-de-parede-gratis-foto.jpg&imgrefurl=https%3A%2F%2Fpt.vecteezy.com%2Ffotos-gratis%2Fpapel-de-parede&tbnid=r5vd7e0NRGraEM&vet=12ahUKEwj77YfEu979AhXTKrkGHSwXCOYQMygAegUIARDfAQ..i&docid=R8CwwX5YWTDRaM&w=5105&h=2871&q=imagens&client=opera-gx&ved=2ahUKEwj77YfEu979AhXTKrkGHSwXCOYQMygAegUIARDfAQ");
  }
    h1{
    
    color: rgba(0, 255, 26, 0.676);
    background-color: aliceblue;
    border: 2px solid rgb(0, 51, 255)
  }
  .border 
  /*class*/
  .center{
     text-align: center;
  }
  p {
    color: white;
  }
  /*id */
  #para {
    color: rgb(7, 232, 41);
    text-align: center;
  }
  .font-verde{
    color: springgreen;

  }